*.suo
*.snk
/.vs
*/bin
*/obj
*.exe
*.log
*.pdb
*.db
*.swp
*.DotSettings.user
/packages
/Test/Capture_img
/Test/Config*.ini
/Test/bs1770gain**
/Test/*/CommonServiceLocator.*
/Test/*/FDK.*
/Test/*/Eto.*
/Test/*/FFmpeg.AutoGen.*
/Test/*/Hnx8.ReadJEnc.*
/Test/*/System.*
/Test/*/Microsoft.*
/Test/*/OpenTK.*
/Test/*/TJAPlayer3GL.*
/Test/*/Songs
/Test/*/runtimes
/Test/*/*.json
