*.suo
*.snk
/.vs
*/bin
*/obj
*.exe
*.log
*.pdb
*.db
*.swp
*.DotSettings.user
/packages
/Test/*/Capture_img
/Test/*/Config*.ini
/Test/*/bs1770gain**
/Test/*/CommonServiceLocator.*
/Test/*/FDK.*
/Test/*/Eto.*
/Test/*/FFmpeg.AutoGen.*
/Test/*/Hnx8.ReadJEnc.*
/Test/*/System.*
/Test/*/Microsoft.*
/Test/*/GdkSharp.*
/Test/*/GioSharp.*
/Test/*/GLibSharp.*
/Test/*/GtkSharp.*
/Test/*/MonoMac.*
/Test/*/AtkSharp.*
/Test/*/CairoSharp.*
/Test/*/PangoSharp.*
/Test/*/osx-x64
/Test/*/TJAPlayer3.app
/Test/*/OpenTK.*
/Test/*/TJAPlayer3GL.*
/Test/*/Songs
/Test/*/runtimes
/Test/*/*.json
