<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CSharpTest.Net.Collections" version="14.906.1403.1082" targetFramework="net48" />
  <package id="DynamicInterop" version="0.9.1" targetFramework="net48" />
  <package id="LargeAddressAware" version="1.0.5" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="OpenTK" version="3.2" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net48" />
  <package id="Sentry" version="2.1.6" targetFramework="net48" />
  <package id="Sentry.PlatformAbstractions" version="1.1.1" targetFramework="net48" />
  <package id="Sentry.Protocol" version="2.1.6" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net48" />
</packages>